.guessRow {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;

}

.rowLetter {
    width: 3vw;
    height: 3vw;
    display:flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: rgb(19, 250, 19);
}