#topRow{
    width: 30vw;
    display:flex;
    justify-content: space-between;
}

#middleRow{
    width: 25vw;
    margin-left: 2.5vw;
    display:flex;
    justify-content: space-around;
}

#bottomRow{
    width: 30vw;
    display:flex;
    justify-content: space-between;
}

.letter{
    border: solid 1px black;
    padding: 10px;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: rgb(19, 250, 19);
}